html {
	height: 100vh;
	width: 100vw;
}

* {
	font-family: 'Courier New', monospace;
	margin: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #171717;
	height: 100vh;
	width: 100vw;
}

#main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-color: #2A2A2A;
	width: 60%;
	height: 100vh;
}

#guess-input {
	color: #7F7F7F;
	width: 80%;
	height: 6.5rem;
	margin: 0 auto;
	border-width: 5px;
	border-style: solid;
	border-color: #101010;
	border-radius: 7px;
	background-color: #171717;
}

button {
	width: 22%;
	height: 6rem;
	margin: 0 auto 48px auto;
	font-size: 2.5rem;
	border-width: 0px;
	border-radius: 7px;
	background-color: #343434;
}

button:hover {
	background-color: #3F3F3F;
}

#code {
	font-size: 3rem;
	margin-top: 48px;
	margin-bottom: 2px;
}

#score {
	font-size: 2.2rem;
	margin-bottom: 48px;
}

.info {
	text-align: left;
	font-size: 2.2rem;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 5.5rem;
	margin-top: 32px;
}

h2 {
	font-size: 3rem;
	margin-top: 8px;
	margin-bottom: 48px;
}

input {
	font-size: 3rem;
	text-align: center;
}

input:focus, textarea {
	outline: none !important;
}

@media (max-width: 1200px) {
	#main {
		width: 100vw;
	}
}
